* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: #eeeeee;
}

.container {
  max-width: 1200px;
  border: 1px solid #aabbaa;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 72px;
}
